.formulario{
    width:10%;
    margin:auto;
}

.elemento{
	width:200px;
}

.etiqueta{
	width:200px;
}

.boton{
	width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top:10px;
}

.error{
	color:red;
}

.inputErroneo{
    border:1px solid red;
    color:white;
    background-color: pink;
}

.inputCorrecto{
    border:1px solid green;
    color:white;
    background-color: aquamarine;
}