.formulario{
    width:50%;
    margin:auto;
}

.elemento{
	width:200px;
}

.etiqueta{
	width:200px;
}

.boton{
	width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top:10px;
}